
@font-face {
  font-family: 'bloodcrow';
  src: url('bloodcrow.ttf');
}


.med-image {
	width: 500px;
}

.center {
	text-align: center;
}

body {
	color: #990000;
}

p {
	margin-left: 20px;
	text-align: center;
	font-size: 25px;
	font-family: bloodcrow;
}

a:visited {
	color: #ac00e6;
}

a:hover {
	color: #00ff00;
}
